body{
    background-image: url(https://giffiles.alphacoders.com/144/14466.gif);
    padding-top:5%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 40%;
    padding-right: 35%;
}
p{
    color:aliceblue;
    margin-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    padding-top: 5%;
    background-image: linear-gradient(black,black,black,rgb(108, 107, 107));
    width: 340px;
    height:480px;
    text-align: center;
    box-shadow:  0 0 5px white;
}

input{
    background-color: black;
    margin-bottom: 2px;
    color:white;
    border: none;
    outline: none;
    border-bottom: solid white;
    margin-bottom: 27px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 290px;
    height: 50px;
}
.button{
    color:red;
    background-color: black;
    border: solid 1px red;
    width: 290px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.button:hover{
    background-color: red;
    color: black;
    border:none;
    box-shadow: 0 0 50px red;
    transition-duration: 0.3s;
    border-radius: 20px 5px 20px 5px;
}
a{
    text-decoration: none;
    color: inherit;
} 

.x{
    color: blue;
    background-color: black;
    border:solid 1px blue;
    padding: 5px;
    transition-duration: 0.3s;
    width: 290px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.x:hover{
    color:black;
    background-image: linear-gradient(90deg,rgb(70, 0, 248),rgb(29, 161, 242),silver);
    box-shadow: 0 0 50px rgb(29, 161, 242);
    transition-duration: 0.3s;
    border-radius: 20px 5px 20px 5px;
}
.insta{
    color: rgb(248, 0, 169);
    background-color: black;
    border:solid 1px rgb(248, 0, 169);
    padding: 5px;
    transition-duration: 0.3s;
    width: 290px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
}
.insta:hover{
    color:black;
    background-image: linear-gradient(90deg,rgb(146, 0, 231),rgb(248, 0, 169),yellow);
    box-shadow: 0 0 50px rgb(248, 0, 169);
    transition-duration: 0.3s;
    border-radius: 20px 5px 20px 5px;
    

}